.primaryButton {
  background-color: #FFF;
  border-radius: $button-boder-radius;
  box-shadow: $component-shadow;
  color: $background-color;
  text-decoration: none;
  font-family: $font-primary;
  font-size: $desktop-subtitle-size;
  font-weight: 700;
  height: 46px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  img {
    height: 24px;
    right: 10%;
  }
}