@font-face {
  font-family: "Saans";
  font-weight: 300;
  src: url("/fonts/Saans-Regular.woff");
}

@font-face {
  font-family: "Saans";
  font-weight: 600;
  src: url("/fonts/Saans-Bold.woff");
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Saans", sans-serif;
}