body {
  padding: 12px;

  .about {
    display: flex;
    margin-top: 50px;
    flex-direction: column;

    h2 {
      color: #000;
      font-size: 32px;
      text-align: center;
    }

    .about-card {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      align-items: center;

      img {
        width: 80px;
        height: 80px;
        margin: 0 auto;
      }

      h3 {
        font-size: 30px;
        margin: 20px 0;
      }

      p {
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        color: #858585;
        width: 90%;
        line-height: 23px;
      }
    }

    .portrait {
      margin-top: 50px;
    }
  }

  .projects {
    padding: 0px 10px;
    margin-top: 50px;

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 16px;
      color: #858585;
      margin-top: 10px;
      line-height: 152%;
      font-weight: 500;
    }

    .primaryBtn {
      &:hover {
        .ButtonImg {
          animation: slide-in-left 0.5s;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 20px;

    .about {
      margin-top: 100px;

      h2 {
        font-size: 60px;
      }

      .about-card {
        img {
          width: 100px;
          height: 100px;
        }

        h3 {
          font-size: 40px;
        }

        p {
          font-size: 18px;
          line-height: 25px;
        }
      }

      .portrait {
        margin-top: 100px;
      }
    }
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}