.contact {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  h2 {
    font-size: $mobile-title-size;
    font-weight: $desktop-title-weight;
    color: #fff;
    margin-top: 0;

    span {
      color: $primary-color;
    }

    ;
  }

  img {
    display: none;
    object-fit: cover;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .secondaryButton {
      font-weight: 600;
      border-radius: 15px;
      &::placeholder {
        color: #fff;
      }
    }
    textarea {
      height: 200px;
      padding: 20px;
      resize: none;
    }
    input:focus {
      border: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .contact {
    width: 70%;
    margin: 0 auto;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    form {
      width: 50%;
      gap: 20px;
    }
    img {
      width: 363px;
      height: 435px;
      border-radius: 160px;
      display: flex;
    }
    .contact-form {
      width: 50%;
      form {
        width: -webkit-fill-available; 
      }
    }
  }
}

@media screen and (min-width: 1500px){
  .contact {
    width: 50%;
  }
}