header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
  z-index: 1;
  background: rgba(33, 36, 48, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.6px);
  -webkit-backdrop-filter: blur(16.6px);

  .icon {
    color: $primary-color;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
  }
  nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 80px;
    background-color: lighten($background-color, 20%);
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    display: none;

    a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      transition-duration: $transition-duration;
    }
    .primaryButton {
      background-color: $primary-color;
      color: #fff;
      width: 110px;
      margin: 0 auto;
      path {
        transition-duration: $transition-duration;
      }
    }
  }
  .open {
    display: flex;
    animation: openMenu 400ms ease-in-out;
  }

  .menuBtn {
    display: flex;
    background: none;
    border: none;
  }
}

@keyframes openMenu {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes closeMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 768px){
  header {
    padding: 0 15%;
    .menuBtn {
      display: none;
    }
    nav {
      display: flex;
      background: none;
      position: initial;
      flex-direction: row;
      a:hover {
        color: $primary-color;
      }
      .primaryButton:hover {
        background-color: #fff;
        color: $primary-color;
        path {
          stroke: $primary-color;
        }
      }
    }
  }
}

@media screen and (min-width: 1500px){
  header {
    padding: 0 25%;
  }
}