.projects {
  margin-top: 120px;
  h2 {
    font-size: $mobile-title-size;
    font-weight: $desktop-title-weight;
    color: #fff;
    margin-right: 24px;
    span {
      color: $primary-color;
    };
  }
  p {
    font-size: $mobile-subtitle-size;
    font-weight: $desktop-subtitle-weight;
    color: #fff;
    margin-top: 24px;
    margin-right: 80px;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
    .project {
      background: $card-background;
      display: flex;
      flex-direction: column;
      box-shadow: $component-shadow;
      border-radius: 25px;
      padding: 24px;
      img {
        width: -webkit-fill-available;
        border-radius: 14px;
        height: 260px;
        object-fit: cover;
      }
      h3 {
        font-size: $mobile-h3-size;
        font-weight: $desktop-title-weight;
        color: #fff;
        margin-top: 24px;
      }
      p {
        font-size: $mobile-subtitle-size;
        font-weight: $desktop-subtitle-weight;
        color: #fff;
        margin: 24px 0;
        line-height: normal;
        margin-right: 0;
      }
      a {
        img {
          position: absolute;
          right: 15%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .projects {
    width: 70%;
    margin: 150px auto 50px auto;
    h2 {
      font-size: $desktop-title-size;
      margin-bottom: 10px;
    }
    p {
      margin-top: 0;
      font-size: $desktop-subtitle-size;
    }
    .projects-container {
      margin-top: 40px;
      .project {
        flex-direction: row;
        align-items: center;
        .project-img {
          width: 45%;
          min-width: 45%;
          min-height: 376px;
        }
        .project-texts {
          margin: 70px;
          h3 {
            font-size: $desktop-title-size;
            margin-top: 0;
            font-weight: 600;
          }
          p {
            font-size: $desktop-subtitle-size;
            margin: 0;
          }
          a {
            margin-top: 24px;
            width: 120px;
            padding: 0 10px;
            img {
              position: initial;
            }
          }
        }
      }
    }
  }
}