$background-color: #212430;
$primary-color: #7A7FF4;
$card-background: linear-gradient(292deg, #2C303F 10.7%, #383E54 64.29%), #C7C7C7;
$desktop-title-size: 35px;
$mobile-title-size: 25px;
$desktop-title-weight: 700;
$desktop-subtitle-size: 16px; 
$mobile-subtitle-size: 14px;
$mobile-h3-size: 16px;
$desktop-subtitle-weight: 400;
$font-primary: "Inter", sans-serif;
$component-shadow: -15px 15px 23px -11px rgba(0, 0, 0, 0.25);
$button-boder-radius: 10px;